<footer class="gh-footer gh-outer">
  <div class="gh-footer-inner gh-inner">
    <div class="gh-footer-bar">
      <span class="gh-footer-logo is-title">
        <img src="/content/images/2024/08/logo-Primary-1.png" alt="twnb">
      </span>
      <nav class="gh-footer-menu"></nav>
      <div class="gh-footer-copyright">
        Built with <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>
      </div>
    </div>
  </div>
</footer>
